<h1><font color="white">Your Favorite Movies Reviewed</font></h1>
<br> 

<div class="row">
	  <% @movies.each do |movie| %>
	    <div class="col-sm-6 col-md-3">
	      <div class="thumbnail">
	        <%= link_to (image_tag movie.poster.url(:medium), class: 'image'), movie %>
	      </div>
	    </div>
	  <% end %>
	</div>
