
<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed</h1>
    <p>Hello Hello Hello Hello </p>
    
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <% link_to (image_tag movie.poster.url(:medium), class: 'image'), movies_path %>
      </div>
    </div>
  <% end %>
</div>
