<h1><font color="white">Your Favorite Movies Reviewed</font></h1>
<br> 

<<<<<<< HEAD
<div class="row">
	  <% @movies.each do |movie| %>
	    <div class="col-sm-6 col-md-3">
	      <div class="thumbnail">
	        <%= link_to (image_tag movie.poster.url(:medium), class: 'image'), movie %>
	      </div>
	    </div>
	  <% end %>
	</div>
=======


    <h1><font color="white">Your Favorite Movies Reviewed</font></h1>
    <p><font color="white">Hello Hello Hello Hello</font> </p>
  
>>>>>>> 0627f33a0c84d37117605a4e0cc1413b87923387
