<h1> <font color="white">New Movie</font></h1>
<div class="well" style="width: 50rem;">
    

<%= render 'form', movie: @movie %>
    
    
<div class="btn btn-dark">
<%= link_to 'Back', movies_path %>
    </div>
    
    
    </div>
