<div class="container" id="help">
    
<div>
    
    
  <h1 class="display-4" align="center" background-color="white">HELP SECTION</h1>
  <p class="lead">Site designed for you to keep track of movies you watch and also rate them.</p>
  <p>Indiscriminately much forward hooted emu engagingly jeepers this groundhog out began hey by that salmon 
      much far more terrier invidious because in this this some indifferent lemming.</p>
    
</div>
</div>
