<!DOCTYPE html>
<html>
  <head>
    <title>MovieRatingApp</title>
    <%= csrf_meta_tags %>


  </head>

  <body>

      <%= render 'layouts/header' %>
      
    

  <%= javascript_include_tag "application" %>
   
    </body>
</html>
